<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Projet_Bezier.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Projet_Bezier.My.MySettings>
            <setting name="screenshot_name" serializeAs="String">
                <value />
            </setting>
            <setting name="screenshot_path" serializeAs="String">
                <value />
            </setting>
            <setting name="screenshot_auto_incr" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="file_name" serializeAs="String">
                <value />
            </setting>
            <setting name="file_path" serializeAs="String">
                <value />
            </setting>
            <setting name="file_auto_incr" serializeAs="String">
                <value>False</value>
            </setting>
        </Projet_Bezier.My.MySettings>
    </userSettings>
</configuration>